<footer>
    <span>&#169;</span> @currentYear <a href="https://iamdavehawkins.com" target="_blank">iamdavehawkins</a>. DM me on <a href="https://twitter.com/iamdavehawkins" target="_blank">Twitter</a>. <a href="https://github.com/iamdavehawkins/ArtistPayments" target="_blank">Source</a>.
</footer>

@code {
    string currentYear = DateTime.Now.Year.ToString();
}
