<h4>Top 10 artists by listens:</h4>
<table class="table">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Listens</th>
            <th>$ to Artist</th>
            <th>Listeners like you for artist to make $50,000</th>
        </tr>
    </thead>
@if (AllListens.Count > 0)
{
    @foreach(var artistGroup in AllListens.GroupBy(listen => listen.ArtistName).OrderByDescending(g => g.Count()).Take(10))
    {
        var totalPay = Decimal.Round(artistGroup.Count() * PayPerStream, 2);
        var listenersLikeYou = Decimal.Round(50000 / totalPay, 0);
        <tr>
            <td>@artistGroup.Key</td>
            <td>@artistGroup.Count()</td>
            <td>$@totalPay</td>
            <td>@listenersLikeYou.ToString("N0")</td>
        </tr>
    }
}
else
{
    <p>No data uploaded.</p>
}
</table>

@code {
    public IEnumerable<IGrouping<string, Listen>> listensGroupedByArtist;

    [Parameter]
    public List<Listen> AllListens { get; set; }

    [Parameter]
    public Decimal PayPerStream { get; set; }

}
